<configXML>
    <general>
        <data_format_file>dd-MM-yyyy_hh_mm-ss</data_format_file>
        <utf8>UTF-8</utf8>
        <name_file_excel>E:\MultiItems.xlsx</name_file_excel>
        <name_file_output>asycudaXML_</name_file_output>
        <path_folder>C:\AsycudaConvertedFilesXML</path_folder>
    </general>
</configXML>